<div class="zq-actcompt-pop zq-actcompt-pop-ex1" id="captcha_pop">
	<span class="zq-actcompt-pop-close"></span>
	<h4 class="zq-actcompt-pop-tit">请完成验证码</h4>
	<div class="zq-actcompt-pcon">
		<div class="zq-actcompt-form-item">
			<div class="zq-actcompt-form-input"><input maxlength="4" id="captcha_input" type="text" value="" placeholder=""></div>
			<div class="zq-actcompt-validcode-img"><img id="za_actcompt_captcha" src="{{captcha}}" width="70" height="27" alt=""></div>
		</div>
		<div class="zq-actcompt-btn-box zq-actcompt-tc"><button type="button" class="zq-actcompt-btn-submit" id="submit_image_captcha">提交</button></div>
	</div>
</div>
<div class="zq-actcompt-pop-mask"></div>