<div class="lottery-pop lottery-pop-ex1" id="captcha_pop" style="z-index:9999; top:0; left:0; position:fixed;">
	<span class="lottery-pop-close"></span>
	<h4 class="lottery-pop-tit">请完成验证码</h4>
	<div class="lottery-pcon">
		<div class="lottery-form-item">
			<div class="lottery-form-input"><input maxlength="4" type="text" id="captcha_input" value="" placeholder=""></div>
			<div class="gb-comment-validcode"><img class="captcha" src="{{captcha}}" width="100" height="30" alt=""></div>
		</div>
		<div class="lottery-btn-box lottery-tc"><button type="button" class="lottery-btn-submit" id="submit_image_captcha">提交</button></div>
	</div>
</div>

<div class="lottery-mask" style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:999;"></div>