<div class="lottery lottery4">
	<h4 class="lottery-tit">{{name}}</h4>
	<a href="javascript:;" class="lottery-btn {{status.className}}">{{status.text}}</a>
	<p class="lottery-p">{{{status.html}}}</p>
</div>